<%= link_to "⬅ home", home_path %>
<h1>Ask you question here:</h1>

<form action='/answer' method='get'>
  <input type='text' name='your_question' placeholder='ask your question here'>
  <input type='submit' value='Ask!'>
</form>
