<%= link_to "⬅ home", home_path %>

<h2>Quiz</h2>
Questions:<br>
<ul>
  <li>What is an electric field?<br></li>
  <li>What is the relationship between the field E and the force F?<br></li>
  <li>Why do we use the concept of an electric field? <br></li>
</ul>

Drawing E-fields: <br>
<ul>
  <li>Can you draw the field produced by a single (static) point charge?<br></li>
  <li>The field of a dipole (two equal and opposite (static) point charges)<br></li>
  <li>a uniform E field? How is it produced?<br></li>
</ul>





