.card{
  width: 30em;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  // border: 1px solid blue;
}

.info-card{
  width: 35em;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
